@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 31, 94, 91; /* dark-teal */
  --background-rgb: 251, 249, 250; /* light-cream */
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}
